@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Turnéer</h1>
<a class="btn btn-primary" asp-page="CreateTurne">Create Turné</a>
<table class="table">
    <thead>
        <tr>
            <th>
               ID
            </th>
            <th>
                Title
            </th>
            <th>
                Start Dato
            </th>
            <th>
                Slut Dato
            </th>
            <th>
                Fortjeneste
            </th>
            <th>
                
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var turne in Model.Turneer.Values){
            <tr>
                <td>
                    @turne.ID
                </td>
                <td>
                    @turne.Navn
                </td>
                <td>
                    @turne.TurneStart
                </td>
                <td>
                    @turne.TurneSlut
                </td>
                <td>
                    @turne.Fortjeneste
                </td>
                <td>
                    <a asp-page="EditTurne" asp-route-id="@turne.ID" class="btn btn-success">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
