@page
@model Tour_de_merch.Pages.Items.IndexModel
@{
}

<h1>Items</h1>

<a class="btn btn-primary" asp-page="CreateItem">Create Item</a>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Titel</th>
            <th scope="col">Størrelse</th>
            <th scope="col">Pris</th>
            <th scope="col">På Lager</th>
        </tr>
          <tr>
                        <th scope="col">
                            ID
                        </th>
                        <th scope="col">
                            Titel
                        </th>
                        <th scope="col">
                            Størrelse
                        </th>
                        <th scope="col">
                            Pris
                        </th>
                        <th scope="col">
                            På Lager
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items.Values)
                    {
                        <tr>
                            <td scope="col">
                                @item.Id
                            </td>
                            <td scope="col">
                                @item.Titel
                            </td>
                            <td scope="col">
                                @item.Størrelse
                            </td>
                            <td scope="col">
                                @item.Pris
                            </td>
                            <td scope="col">
                                @item.PåLager
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
    
