@page
@model Tour_de_merch.Pages.Koncerter.CreateKoncertModel
@{
    ViewData["Title"] = "Create Koncert";
}



<h1>Opret Koncert</h1>
<form method="post">
    <div class="form-group">
        <label asp-for="@Model.Koncert.Title" class="control-label ">Titel <b class="text-whie">Titel</b> </label>
        <input asp-for="@Model.Koncert.Title" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Koncert.Date" class="control-label "> <b class="text-white">Dato</b> </label>
        <input asp-for="@Model.Koncert.Date" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Koncert.By" class="control-label "> <b class="text-white">By</b> </label>
        <input asp-for="@Model.Koncert.By" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Koncert.Spillested" class="control-label "> <b class="text-white">By</b> </label>
        <input asp-for="@Model.Koncert.Spillested" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Koncert.Turne" class="control-label "> <b class="text-white">Turne</b> </label>
        <input asp-for="@Model.Koncert.Turne" class="form-control" />
    </div>
    @*<div class="form-group">
            <label asp-for="@Model.Koncert.TurnePlan" class="control-label "> <b class="text-white">Turne Plan</b> </label>
            <input asp-for="@Model.Koncert.TurnePlan" class="form-control" />
        </div>*@
    @*<div class="form-group">
            <label asp-for="@Model.Koncert.Fortjeneste" class="control-label "> <b class="text-white">Turne Plan</b> </label>
            <input asp-for="@Model.Koncert.Fortjeneste" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.Koncert.Fortjeneste" class="control-label "> <b class="text-white">Turne Plan</b> </label>
            <input asp-for="@Model.Koncert.Fortjeneste" class="form-control" />
        </div>*@
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

