@page
@model Tour_de_merch.Pages.Koncerter.IndexModel
@{
    ViewData["Title"] = "Koncert Katalog";
}

<h1>Koncerter</h1>
@*<a class="btn btn-primary" asp-page="CreateKoncert">Create Concert</a>*@
@*<h1 class="text-center">Create Concert</h1>*@
<h2><a class="btn" type="button" asp-page="CreateKoncert"><i class="fa fa-plus"></i> <b>Create Concert</b></a></h2>

<div>
    <table class="table">
        <thead class="">
            <tr>
                <th scope="col">
                    ID
                </th>
                <th scope="col">
                    Titel
                </th>
                <th scope="col">
                    Dato
                </th>
                <th scope="col">
                    By
                </th>
                <th scope="col">
                    Spille sted
                </th>
                <th scope="col">
                    Turné
                </th>
                <th scope="col">
                    Antal Items Solgt
                </th>
                <th scope="col">
                    Samlet Fortjeneste
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var koncert in Model.Koncerter.Values)
            {
                <tr>
                    <td scope="col">
                        <a asp-page="EditKoncert" asp-route-id="@koncert.Id">@koncert.Id</a>
                    </td>
                    <td scope="col">
                        <a asp-page="EditKoncert" asp-route-id="@koncert.Id">@koncert.Title</a>
                    </td>
                    <td scope="col">
                        <a asp-page="EditKoncert" asp-route-id="@koncert.Id">@koncert.Date</a>
                    </td>
                    <td scope="col">
                        <a asp-page="EditKoncert" asp-route-id="@koncert.Id">@koncert.By</a>
                    </td>
                    <td scope="col">
                        <a asp-page="EditKoncert" asp-route-id="@koncert.Id">@koncert.Spillested</a>
                    </td>
                    <td scope="col">
                        <a asp-page="EditKoncert" asp-route-id="@koncert.Id">@koncert.Turne</a>
                    </td>
                    <td scope="col">
                        <a asp-page="EditKoncert" asp-route-id="@koncert.Id">@koncert.AntalItemsSolgt</a>
                    </td>
                    <td scope="col">
                        <a asp-page="EditKoncert" asp-route-id="@koncert.Id">@koncert.Fortjeneste</a>
                    </td>
                </tr>
            }
            </tbody>
    </table>
</div>
